{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block page_name %}
<div class="w-100 d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">Главная</a>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Статистика</h2>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Сумма по накладных за {{ selected_year }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{total_invoices_sum}}₽</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Количество поставщиков</div>
                <div class="card-body">
                    <h5 class="card-title">{{suppliers_count}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6">
            <form method="get" action="" class="d-flex align-items-center mb-4">
                <label for="year" class="me-2">Выберите год:</label>
                <select name="year" id="year_select" class="form-select me-2 w-25" aria-label="Выберите год">
                    {% for year in years_list %}
                        <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Показать</button>
            </form>
            <h4>Общая сумма накладных по месяцам за {{ selected_year }}</h4>
            <canvas id="invoicesChart"></canvas>
        </div>
        <div class="col-md-4">
            <h4>Распределение поставщиков</h4>
            <canvas id="suppliersChart"></canvas>
        </div>
    </div>
</div>

<script>
    document.getElementById("year_select").value = "{{selected_year}}";
    const invoiceStatistic = {{ invoice_statistic|safe }};
    const months = invoiceStatistic.map(entry => entry.month);
    const totalAmounts = invoiceStatistic.map(entry => entry.total_amount);

    const ctxInvoices = document.getElementById('invoicesChart').getContext('2d');
    const invoicesChart = new Chart(ctxInvoices, {
        type: 'bar',
        data: {
            labels: months,
            datasets: [{
                label: 'Сумма накладных по месяцам',
                data: totalAmounts,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const suppliersStatistic = {{ suppliers_statistic|safe }};
    const supplierNames = suppliersStatistic.map(entry => entry.name);
    const supplierCounts = suppliersStatistic.map(entry => entry.invoice_count);

    const ctxSuppliers = document.getElementById('suppliersChart').getContext('2d');
    const suppliersChart = new Chart(ctxSuppliers, {
        type: 'pie',
        data: {
            labels: supplierNames,
            datasets: [{
                label: 'Количество накладных от поставщиков',
                data: supplierCounts,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });
</script>

{% endblock %}
